.notify-msg {
    animation: my-animation 10s;

    animation-fill-mode: both;

    @keyframes my-animation {
        0%   {
            opacity: 1;
        }
        100% {
            opacity: 0;
            z-index: -2;
        }
    }
}
